/* Page UI */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #3498db;
  color: #fff;
  width: 100%;
}

.container {
  width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
}
/*About Me Section*/

/* Add some hover effects to buttons */
button:hover {
  background-color: #2980b9;
}

.content {
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  max-height: 0;
  text-align: left;
}

.content h2 {
  color: #333;
}

.content p {
  color: #555;
}

.content img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 8px; /* Add rounded corners to images */
}
/* Experience Section */

/* Style the table */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #3498db;
  color: #fff;
}

/* Add some hover effects to table rows */
tr:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
}

/* Add styles for CTF 1 and CTF 2 buttons */
.writeups-buttons button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.writeups-buttons button:hover {
  background-color: #2980b9;
}

/* Add styles for CTF 1 and CTF 2 content */
#ctf1,
#ctf2 {
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  max-height: 0;
  text-align: left;
}

#ctf1 h2,
#ctf2 h2 {
  color: #333;
}

#ctf1 p,
#ctf2 p {
  color: #555;
}

#ctf1 img,
#ctf2 img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
}
