body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

h1 {
  color: #333;
  margin-top: 50px; 
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.content {
  display: none;
}

.content h2 {
  color: #333;
}

.content p {
  color: #555;
}
